<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">

    <div class="form-group">
      <label for="username">UserName:</label>
      <input class="form-control" [class.is-invalid]="userName?.invalid && userName?.touched" type="text" name="user-name" id="user-name_Id" formControlName="userName" >
    </div>

    <div *ngIf="userName?.invalid && userName?.touched" >

      <small *ngIf="userName?.errors?.required" class="error-message text-danger">username is required</small>
      <small *ngIf="userName?.errors?.minlength" class="error-message text-danger">username should atleast 3 characters!</small>
      <small *ngIf="userName?.errors?.forbiddenName"  class="error-message text-danger">username is required</small>

    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()" >Add Email</button>
      <input class="form-control" [class.is-invalid]="email?.invalid && email?.touched" type="email" name="email" id="email_Id" formControlName="email" >
    </div>
      <small *ngIf="email?.errors?.required" class="error-message text-danger">email is required</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls;let i=index">
        <input type="text" class="form-control my-1" name="email{{i}}" id="email_Id{{i}}" [formControlName]="i">
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input"name="subscribe" id="subscribe_Id" formControlName="subscribe">
        <label class="form-check-label">send me promotional offers</label>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" id="password_Id" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" name="confirm-password" id="confirm-password_Id" class="form-control" formControlName="confirmPassword">
      </div>
      <div formGroupName="address">
        <div class="form-group">
          <label>city:</label>
          <input type="text" name="city" id="city_Id" class="form-control" formControlName="city">
        </div>
        <div class="form-group">
          <label>state:</label>
          <input type="text" name="state" id="state_Id" class="form-control" formControlName="state">
        </div>
        <div class="form-group">
          <label>postalcode:</label>
          <input type="text" name="postalcode" id="postalcode_Id" class="form-control" formControlName="postalcode">
        </div>
      </div>

  </form>
</div>